* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

div {
  box-sizing: border-box; }

img {
  margin: 0;
  padding: 0;
  vertical-align: top; }

header {
  height: 180px;
  width: 100%; }
  header .top {
    height: 26px;
    background: #8EAB54; }
    header .top .top_main {
      width: 1170px;
      margin: 0 auto; }
      header .top .top_main .pull_left {
        float: left; }
        header .top .top_main .pull_left span {
          color: #e9e9e9;
          font-size: 14px;
          display: inline-block;
          line-height: 26px; }
        header .top .top_main .pull_left img {
          margin-right: 10px;
          margin-top: -4px;
          vertical-align: middle; }
        header .top .top_main .pull_left:nth-child(1) {
          margin-right: 30px; }
  header .nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding: 47px 0;
    transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    position: relative;
    z-index: 99;
    background: #fff;
    width: 100%; }
    header .nav .container {
      width: 1170px;
      margin: 0 auto; }
      header .nav .container .row {
        text-align: center; }
        header .nav .container .row ul {
          margin: 0;
          display: inline-block;
          list-style: none; }
          header .nav .container .row ul li {
            width: 130px;
            height: 55px;
            line-height: 55px;
            float: left;
            text-align: center; }
            header .nav .container .row ul li a {
              color: #595959;
              transition: all .3s ease; }
            header .nav .container .row ul li a:hover {
              color: #8EAB54; }
  header .xs {
    position: fixed;
    top: 0;
    box-shadow: 5px 0 8px #ccc; }

.space {
  height: 176px;
  transition: all 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
  position: relative; }

.banner {
  width: 100%;
  height: 558px; }
  .banner .carousel {
    position: relative;
    width: 100%;
    height: 558px;
    overflow: hidden; }
    .banner .carousel ul {
      list-style: none;
      width: 400%;
      margin: 0;
      display: inline-block;
      height: 558px;
      position: relative; }
      .banner .carousel ul li {
        float: left;
        width: 25%; }
    .banner .carousel .an {
      position: absolute;
      top: 50%;
      opacity: .7;
      transition: all .3s ease;
      background: #A1B06D;
      padding: 5px;
      color: #FFF;
      cursor: pointer; }
      .banner .carousel .an:nth-child(2) {
        left: 10%; }
      .banner .carousel .an:nth-child(3) {
        right: 10%; }

.business {
  width: 100%;
  height: 345px;
  position: absolute;
  top: 620px;
  padding: 50px 0;
  overflow: hidden; }
  .business .container {
    width: 1170px;
    height: 245px;
    margin: 0 auto; }
    .business .container ul {
      list-style: none;
      width: 100%;
      height: 100%;
      display: flex; }
      .business .container ul li {
        width: 25%;
        height: 100%;
        transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        margin-top: 395px; }
        .business .container ul li:nth-child(1) {
          background: #8EAB54; }
        .business .container ul li:nth-child(2) {
          background: #8AA651; }
        .business .container ul li:nth-child(3) {
          background: #85A14F; }
        .business .container ul li:nth-child(4) {
          background: #819C4C; }
        .business .container ul li .business_item {
          height: 245px;
          padding: 0 25px;
          transition: all .4s ease; }
          .business .container ul li .business_item .business_img {
            padding: 35px; }
            .business .container ul li .business_item .business_img img {
              vertical-align: middle;
              margin-left: 60px; }
          .business .container ul li .business_item h4 {
            font-size: 20px;
            color: #FFFFFF;
            padding: 0px 0 10px 0;
            text-align: center;
            font-weight: 400; }
          .business .container ul li .business_item p {
            font-size: 14px;
            color: #FFFFFF;
            line-height: 1.8;
            text-align: center; }
      .business .container ul li:hover {
        margin-top: -20px;
        transition: 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 0s; }

.index_title {
  width: 100%;
  height: 345px;
  position: absolute;
  top: 920px;
  padding: 50px 0;
  overflow: hidden;
  text-align: center; }
  .index_title .container {
    width: 1170px;
    height: 245px;
    margin: 0 auto; }
    .index_title .container .row {
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 445px; }
      .index_title .container .row h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit; }
      .index_title .container .row h2 {
        margin-top: 8px;
        margin-bottom: 35px;
        font-size: 30px;
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit; }

.case_nav {
  width: 100%;
  height: 78px;
  position: absolute;
  top: 1150px;
  overflow: hidden;
  text-align: center; }
  .case_nav .container {
    width: 1170px;
    height: 245px;
    margin: 0 auto; }
    .case_nav .container .row {
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 145px; }
      .case_nav .container .row ul {
        list-style: none;
        margin: auto;
        display: inline-block;
        padding-bottom: 45px; }
        .case_nav .container .row ul li {
          float: left;
          width: 80px;
          font-size: 14px;
          margin-right: 45px;
          text-align: center;
          height: 28px;
          line-height: 28px; }
          .case_nav .container .row ul li a {
            color: #595959;
            display: block;
            width: 100%;
            transition: all .5s ease; }
        .case_nav .container .row ul li:hover {
          background: #8eab54; }
          .case_nav .container .row ul li:hover a {
            color: #fff; }
        .case_nav .container .row ul .on {
          background: #8eab54; }
          .case_nav .container .row ul .on a {
            color: #fff; }

.all_case {
  width: 100%;
  height: 846px;
  position: absolute;
  top: 1230px;
  overflow: hidden; }
  .all_case .container {
    width: 1170px;
    height: 245px;
    margin: 0 auto; }
    .all_case .container .row {
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 846px; }
      .all_case .container .row ul {
        list-style: none;
        margin: auto;
        display: inline-block;
        width: 100%; }
        .all_case .container .row ul li {
          float: left;
          width: 32%;
          font-size: 14px;
          height: 368px;
          margin: 5px;
          overflow: hidden; }
          .all_case .container .row ul li a {
            color: #595959;
            display: block;
            width: 100%;
            transition: all .5s ease; }
          .all_case .container .row ul li .image {
            position: relative;
            width: 367px;
            height: 250px; }
            .all_case .container .row ul li .image img {
              width: 100%;
              height: 250px; }
          .all_case .container .row ul li .content p {
            color: #595959;
            font-size: 16px;
            margin: 0;
            padding: 25px 0 10px 0;
            border-bottom: 1px solid #e7e7e7;
            position: relative;
            transition: all .8s ease; }
          .all_case .container .row ul li .content p::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 0;
            background: #8eab54;
            z-index: 1;
            transition: all .8s ease; }
          .all_case .container .row ul li .content span {
            font-size: 14px;
            color: #9e9e9e;
            padding-top: 10px;
            display: block; }
        .all_case .container .row ul li:hover .content p::after {
          width: 100%; }

.swiper_slide {
  width: 100%;
  height: 479px;
  position: absolute;
  top: 2050px;
  overflow: hidden; }
  .swiper_slide .store {
    height: 479px;
    background: url(../img/sd-bg.png);
    background-size: cover;
    margin-top: 479px; }
    .swiper_slide .store .container {
      width: 1170px;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto; }
      .swiper_slide .store .container .row {
        margin-right: -15px;
        margin-left: -15px;
        position: relative; }
        .swiper_slide .store .container .row .col_md1 {
          width: 576px;
          height: 301px;
          padding-top: 95px;
          padding-left: 20px;
          z-index: 2;
          position: absolute;
          /*left:-1000px;*/ }
          .swiper_slide .store .container .row .col_md1 .store_img {
            position: relative;
            z-index: 0; }
          .swiper_slide .store .container .row .col_md1 .content {
            background: #FFFFFF;
            width: 576px;
            height: 260px;
            z-index: 2; }
        .swiper_slide .store .container .row .col_md2 {
          width: 546px;
          height: 242px;
          padding: 30px 60px 20px 60px;
          background: rgba(89, 89, 89, 0.5);
          margin-top: 67px;
          margin-left: -5px;
          position: absolute;
          z-index: 1;
          top: 0px;
          right: -1000px; }
          .swiper_slide .store .container .row .col_md2 .title {
            color: #FFFFFF;
            font-size: 22px;
            display: block;
            margin: 0; }
          .swiper_slide .store .container .row .col_md2 .eglish {
            color: #FFFFFF;
            font-size: 14px;
            display: block;
            margin: 0;
            padding-bottom: 20px; }
          .swiper_slide .store .container .row .col_md2 a {
            width: 96px;
            height: 24px;
            line-height: 24px;
            text-align: center;
            border-radius: 20px;
            background: #8eab54;
            font-style: inherit;
            margin-top: 26px;
            display: inline-block;
            transition: all .5s ease;
            color: #fff; }
          .swiper_slide .store .container .row .col_md2 a:hover {
            width: 110px; }

.swiper_store_pag {
  margin: 0;
  text-align: center;
  height: 74px;
  position: absolute;
  top: 2528px;
  width: 100%;
  overflow: hidden; }
  .swiper_store_pag .row {
    width: 100%;
    height: 74px;
    background: #595959;
    margin-top: 74px; }
    .swiper_store_pag .row .container {
      width: 1170px;
      margin: 0 auto; }
      .swiper_store_pag .row .container span {
        transition: all .3s ease;
        cursor: pointer;
        background-position: 50%;
        background-color: transparent;
        width: 16.6%;
        height: 69px;
        border-radius: 0;
        opacity: 1;
        -webkit-filter: invert(0.42);
        filter: invert(0.42);
        transition: all .3s ease;
        height: 74px;
        margin: 0 !important;
        display: inline-block;
        padding: 20px 5px;
        box-sizing: border-box;
        float: left; }
        .swiper_store_pag .row .container span:nth-child(1) {
          background: url(../img/logo1.png) no-repeat 35px 25px; }
        .swiper_store_pag .row .container span:nth-child(2) {
          background: url(../img/logo2.png) no-repeat 45px 17px; }
        .swiper_store_pag .row .container span:nth-child(3) {
          background: url(../img/logo4.png) no-repeat 45px 10px; }
        .swiper_store_pag .row .container span:nth-child(4) {
          background: url(../img/logo3.png) no-repeat 45px 20px; }
        .swiper_store_pag .row .container span:nth-child(5) {
          background: url(../img/logo5.png) no-repeat 75px 10px; }
        .swiper_store_pag .row .container span:nth-child(6) {
          background: url(../img/logo6.png) no-repeat 75px 10px; }
      .swiper_store_pag .row .container span:hover {
        background-color: #8BA25C !important;
        transition: all .3s ease;
        filter: invert(0); }
      .swiper_store_pag .row .container .clickk {
        background-color: #8eab54 !important;
        transition: all .3s ease;
        filter: invert(0); }

.t1 {
  top: 2620px; }

.t1 .container .row {
  margin-top: 445px; }

.n1 {
  top: 2870px; }

.n1 .container .row {
  margin-top: 145px; }

.newsitem {
  margin: 0;
  height: 245px;
  position: absolute;
  top: 3000px;
  width: 100%;
  overflow: hidden; }
  .newsitem .news {
    padding-bottom: 125px; }
    .newsitem .news .container {
      width: 1170px;
      margin: 0 auto;
      height: 245px;
      overflow: hidden; }
      .newsitem .news .container .row {
        margin-right: -15px;
        margin-left: -15px;
        height: 100%; }
        .newsitem .news .container .row .col {
          width: 50%;
          padding-right: 15px;
          height: 100%;
          float: left; }
          .newsitem .news .container .row .col .image {
            position: relative;
            width: 265px;
            height: 205px;
            display: inline-block; }
            .newsitem .news .container .row .col .image img {
              max-height: 100%;
              max-width: 100%; }
          .newsitem .news .container .row .col .centent {
            display: inline-block;
            width: 275px; }
            .newsitem .news .container .row .col .centent h3 {
              color: #595959;
              font-size: 18px;
              padding-top: 15px;
              transition: all .5s ease;
              font-family: inherit;
              font-weight: 500;
              line-height: 1.1; }
            .newsitem .news .container .row .col .centent em {
              padding: 8px 0px 20px 0;
              display: block;
              border-bottom: 1px solid #e7e7e7;
              position: relative;
              font-style: inherit;
              color: #cccccc;
              font-size: 14px; }
            .newsitem .news .container .row .col .centent .time::after {
              content: '';
              width: 33px;
              height: 5px;
              position: absolute;
              bottom: -3px;
              left: 0;
              background: #8eab54;
              transition: all .5s ease; }
            .newsitem .news .container .row .col .centent p {
              font-size: 14px;
              color: #9e9e9e;
              padding-top: 18px;
              line-height: 2; }
          .newsitem .news .container .row .col .pull_left {
            float: left !important; }
          .newsitem .news .container .row .col .pull_right {
            float: right !important; }
        .newsitem .news .container .row .col:hover .centent .time::after {
          width: 100%; }
        .newsitem .news .container .row .col_md3 {
          position: relative;
          left: -50%; }
        .newsitem .news .container .row .col_md4 {
          position: relative;
          right: -50%; }

.contact {
  background: url(../img/foot-bg.png);
  height: 587px;
  width: 100%;
  margin-top: 2600px;
  position: relative;
  color: #FFFFFF; }
  .contact .t2 {
    top: 0;
    position: relative !important;
    height: 300px; }
    .contact .t2 .row {
      margin-top: 300px; }
  .contact .content {
    padding-top: -50px;
    width: 1170px;
    margin: 0 auto;
    overflow: hidden; }
    .contact .content .row .col {
      width: 50%;
      float: left; }
      .contact .content .row .col .clearfix .phone {
        background: url(../img/Phone_2.png) no-repeat;
        display: inline-block;
        width: 40px;
        height: 50px; }
      .contact .content .row .col .clearfix .tel {
        display: inline-block; }
        .contact .content .row .col .clearfix .tel h4 {
          margin: 0;
          font-size: 26px; }
        .contact .content .row .col .clearfix .tel span {
          font-size: 16px; }
      .contact .content .row .col .address {
        padding-top: 80px; }
        .contact .content .row .col .address p {
          font-size: 14px;
          margin: 0 0 10px; }
      .contact .content .row .col .right .name {
        border: 0;
        border-bottom: 1px solid #fff;
        width: 225px;
        font-size: 12px;
        background: transparent;
        padding-bottom: 5px;
        outline: 0;
        display: inline-block;
        visibility: visible;
        animation-name: fadeInRight; }
      .contact .content .row .col .right .tel {
        border: 0;
        border-bottom: 1px solid #fff;
        width: 225px;
        font-size: 12px;
        background: transparent;
        padding-bottom: 5px;
        outline: 0;
        display: inline-block;
        margin-left: 100px; }
      .contact .content .row .col .right .textarea .wow {
        width: 100%;
        margin-top: 45px;
        background: transparent;
        border: 0;
        font-size: 12px;
        border-bottom: 1px solid #fff;
        outline: 0; }
      .contact .content .row .col .right .submit .wow {
        border: 0;
        width: 96px;
        text-align: center;
        background: #fff;
        color: #8eab54;
        height: 24px;
        line-height: 21px;
        border-radius: 20px;
        transition: all .5s ease;
        cursor: pointer;
        font-size: 12px;
        outline: 0;
        margin-top: 40px; }
      .contact .content .row .col .right .submit .wow:hover {
        width: 110px; }
    .contact .content .row .col_md5 {
      position: relative;
      left: -50%; }
    .contact .content .row .col_md6 {
      position: relative;
      right: -50%; }

footer {
  height: 52px;
  width: 100%;
  color: #999999;
  font-size: 12px;
  line-height: 52px;
  background: #595959;
  overflow: hidden; }
  footer .container {
    width: 1170px;
    margin: 0 auto;
    overflow: hidden; }
    footer .container .row {
      height: 52px;
      line-height: 52px;
      margin-top: 52px; }
      footer .container .row .left {
        float: left; }
        footer .container .row .left ul {
          list-style: none;
          line-height: 52px; }
          footer .container .row .left ul li {
            float: left; }
            footer .container .row .left ul li a {
              color: #999;
              font-size: 12px;
              border-right: 1px solid #999;
              display: inline-block;
              padding-right: 12px;
              line-height: 12px;
              padding-left: 12px; }
      footer .container .row .right {
        float: right; }

/*# sourceMappingURL=index.css.map */
