@font-face {
  font-family: 'iconfont';
  src:url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'), 
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
a{text-decoration: none;color:#000;}
*, *:before, *:after {
  box-sizing: inherit;margin:0;padding:0;
}
%full{
    width:100%;height:100%;overflow: hidden;box-sizing: border-box;
}
%tb{height:40px;width:100%;}
html{
    @extend %full;
}
body{
  @extend %full;
  display: flex;
  flex-direction: column;
  header{@extend %tb;background:#EF3239;border-bottom: #A82D31 2px solid;display:flex;padding:10px;
    div{
      color:#fff;width:33.333%;line-height: 100%;
      &:nth-child(1){float:left;text-align: left;}
      &:nth-child(2){text-align: center;}
      &:nth-child(3){float:right;text-align: right;}
    }
  }
  .zdh{@extend %tb;border-bottom: 1px solid #CCCCCC;display:flex;background:#FDFDFD;
    div{width:25%;text-align: center;line-height: 40px;
      &:nth-child(1){color:#EF3239;
        .iconfont{font-size: 16px;line-height: 100%;}
      }
    }
  }
  section{flex: 1;overflow:auto;
    li{width:100%;height:100px;border-bottom: 1px solid #E0E0E0;display:flex;
      .left{flex:.35;
        img{margin-top: 10px;}
      }
      .right{flex:.65;padding:10px;
        p{font-size: 12px;
          &:nth-child(1){color:#000;}
          &:nth-child(2){color:#F23838;font-size: 14px;margin-top: 10px;}
          &:nth-child(3){color:#808080;}
        }
      }
    }
  }
}