.body{background:#F3F3F3;height:800px;margin-top: 50px;}
footer{margin-top: 0px;}


.titles{width:100%;height: 80px;line-height: 80px;}
.titles h1{float:left;font-size: 22px;color:#575757;}
.titles span{float:right;color:#C6C6C6;font-size: 14px;}

.jymx{width:100%;}
.jymx ul li{width:582px;height:350px;background:#fff;float:left;margin:0 18px;}
.jymx ul li:first-child{margin-left:0px;}
.jymx ul li:last-child{margin-right:0px;}
.jymx ul li .jyleft{float:left;padding:20px;}
.jymx ul li .jyright{float:right;padding:20px;}