/* 初始化 */
html {overflow-y:scroll; background:#FFF;} 
body { font-family:"PingFang SC","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Microsoft Yahei","微软雅黑",STHeiti,"华文细黑",sans-serif;margin:0; padding:0; font:12px;} 
div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p{padding:0; margin:0;} 
table,td,tr,th{font-size:12px;} 
li{list-style-type:none;} 
img{vertical-align:top;border:0;} 
ol,ul {list-style:none;} 
h1,h2,h3,h4,h5,h6{font-size:12px; font-weight:normal;} 
address,cite,code,em,th {font-weight:normal; font-style:normal;} 
a{text-decoration:none; color: black;cursor: pointer;}
ul{list-style: none;}
body{overflow:hidden;}
/**/

/*头部导航栏*/
header{width:100%;height:80px;background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0));color:rgb(102, 102, 102);position:absolute;z-index: 99999;transition:all 1s;}
header .main{width:1700px;height:100%;line-height: 80px;margin:0 auto;}
.main .icon{float: left;height:36px;width:135px;margin-top:22px;background:url(../img/icon.png)no-repeat;}
.nav_list ul{margin-left: 50px;}
.nav_list ul li{float:left;width:50px;font-size: 14px;text-align: center;}
.nav_list ul li a{color:#fff;}
.nav_list ul li a:hover{color:#65D1AB;}
.search{width:550px;height:40px;box-shadow: 0 2px 4px 0 rgba(90,90,90,.08);border-radius: 20px;background-color: rgba(255,255,255,.2);transition: max-width .2s ease;float:left;margin-top:20px;position:relative;}
.search .inputs{position: relative;height: 40px;margin: 0 136px 0 20px;}
.search .inputs input{position: absolute;width: 100%;height: 100%;padding: 0;line-height: 40px;border: 0 none;outline: 0;font-size: 16px;color: #eee;background: 0 0;}
.search button{position: absolute;display: block;top: 0;right: -2px;width: 106px;height: 40px;background: #65D1AB;background: -webkit-linear-gradient(left,#7CD065 0,#65D1AB; 100%);background: linear-gradient(to right,#7CD065 0,#65D1AB 100%);border: none;outline: 0;font-size: 16px;color: #fff;border-radius: 0 20px 20px 0;cursor: pointer;}
.nav_right{float:right;width:280px;}
.nav_right ul li{float:left;margin:0 20px;color:#fff;}
.nav_right ul li:last-child{position: relative;width: 40px;height: 40px;padding: 0;margin-top: 20px;cursor: pointer;}
.nav_right ul li:last-child img{position: relative;width: 40px;height: 40px;border-radius: 50%;background-color: rgba(255,255,255,.38);}
.nav_right ul li a{color:#fff;}
.nav_right ul li a:hover{color:#65D1AB;}
.headerys{background:rgba(255, 255, 255, .95);}
.headerys .main .icon{background:url(../img/icon2.png)no-repeat;margin-top:22px;}
.headerys .nav_list ul li a{color: #202020;}
.headerys .nav_right ul li a{color: #202020;}
.headerys .search{border:2px solid #65D1AB;}
/**/
.login{display: block;width: 622px;height: 418px;top: 35%;left: 50%;margin-left: -311px;z-index: 10001;padding: 0px;background-color: rgb(255, 255, 255);position: fixed;}
.bg{background:rgba(0,0,0,.5);width:100%;height:100%;z-index: 10000;position:fixed;}
.login .btn_close{display: block;position: absolute;top: 1px;right: 1px;width: 47px;height: 28px;background: url(../img/sprite_login.png) 0 0 no-repeat;z-index: 10;}
.login .btn_close:hover{background: url(../img/sprite_login.png) -50px 0 no-repeat;}
.login .headerul{position: relative;height: 50px;margin-bottom: -1px;border-bottom: 1px solid #e6e6e6;background: #f1f1f1;font-size: 0;z-index: 3;}
.login .headerul ul li{display: inline-block;zoom: 1;width: 50%;text-align: center;line-height: 50px;font-size: 16px;color: #b1b1b1;}
.login .headerul ul li .tab_item{height: 51px;margin-bottom: -1px;color: #b1b1b1;}
.login .headerul ul li .tab_item .ico_loginqq{width: 21px;height: 23px;display: inline-block;zoom: 1;background: url(../img/sprite_login.png) -177px -90px no-repeat;vertical-align: top;position: relative;top: 12px;margin-right: 8px;}
.login .headerul ul li .tab_item .ico_loginwx{width: 23px;height: 23px;display: inline-block;zoom: 1;background: url(../img/sprite_login.png) -220px -90px no-repeat;vertical-align: top;position: relative;top: 12px;margin-right: 8px;}
.login .headerul ul li.logincurrent{background:#65D1AB;}
.login .headerul ul li.logincurrent .tab_item{color:#fff;}
.login .headerul ul li.logincurrent .tab_item .ico_loginqq{background-position: -198px -90px;}
.login .headerul ul li.logincurrent .tab_item .ico_loginwx{background-position: -250px -90px;}
.login .login_tips{position: relative;z-index: 3;height: 22px;padding: 12px 10px;}
.login .login_tips .tips_txt{font-size: 14px;line-height: 22px;color: #a2a2a2;text-align: center;}
.login .web_qr_login{position: relative;overflow: hidden;height: 100%;}
.login .web_qr_login .tips{position: relative;margin: 0 auto 36px;z-index: 11;font-size: 16px;color: #666;text-align: center;}
.login .web_qr_login .tips .title{font-size: 20px;color: #333;margin-bottom: 16px;}
.login .web_qr_login .tips a{color:#65D1AB;}
.login .web_qr_login .login_form{width: 272px;margin: 0 auto;}
.login .login_form .uinArea{height: 55px;position: relative;z-index: 10;}
.login .login_form .pwdArea{height: 55px;position: relative;z-index: 10;}
.login_form .uinArea .input_tips{position: absolute;top: 13px;left: 13px;font-size: 14px;line-height: 16px;color: #aaa;cursor: text;}
.login_form .uinArea .inputOuter{width: 272px;height: 42px;background: url(../img/icon_3_tiny.png) -1px -1px no-repeat;}
.login_form .uinArea .inputOuter .inputstyle{width: 258px;position: relative;top: 2px;left: 2px;height: 18px;padding: 10px 0 10px 10px;line-height: 18px;border: none;background: 0 0;color: #333;font-family: Verdana,Tahoma,Arial;font-size: 16px;}
.login_form .pwdArea .input_tips{position: absolute;top: 13px;left: 13px;font-size: 14px;line-height: 16px;color: #aaa;cursor: text;}
.login_form .pwdArea .inputOuter{width: 272px;height: 42px;background: url(../img/icon_3_tiny.png) -1px -1px no-repeat;}
.login_form .pwdArea .inputOuter .inputstyle{width: 258px;position: relative;top: 2px;left: 2px;height: 18px;padding: 10px 0 10px 10px;line-height: 18px;border: none;background: 0 0;color: #333;font-family: Verdana,Tahoma,Arial;font-size: 16px;}
.login .login_form .submit{position: relative;height: 40px;background-color: #65D1AB;}
.login .login_form .submit .login_button{position: absolute;left: 0;outline: 0;width: 100%;}
.login .login_form .submit .login_button .btn{width: 100%;height: 40px;line-height: 35px;border: none;font-size: 17px;font-weight: 400;font-family: "Microsoft Yahei","微软雅黑",SimHei,"黑体","Hiragino Sans GB",STHeiTi,sans-serif;color: #fff;background: 0 0;cursor: pointer;}
.login .bottom{height: 16px;margin-bottom: 8px;width: 97%;position: absolute;bottom: 0;text-align: right;font-size: 12px;padding:0 8px;}
.login .bottom .low_login{position: absolute;bottom: 0;left: 20px;}
.login .bottom .low_login .low_login_wording{height: 16px;line-height: 16px;line-height: 18px\9;cursor: pointer;margin-left: 5px;}
.login .bottom .low_login .checked, .bottom .low_login .uncheck{float: left;height: 18px;width: 18px;}
.login .bottom .low_login .checked{background:url(../img/icon_3_tiny.png)-92px -163px no-repeat;}
.login .bottom .low_login .uncheck{background:url(../img/icon_3_tiny.png)-74px -163px no-repeat;}
.login .bottom .link{color: #666;}
.login .login_iframe_wx{width: 100%;height: 100%;margin: -2px 0 0 -2px;}
.login .login_iframe_wx .iframe_title{display: block;height: 50px;text-align: center;font-size: 14px;font-weight: 700;font-family: "hiragino sans gb",simsun,stfangsong;color: #808080;padding-top: 30px;}

/*底部样式*/
footer{background-color: #fff;clear: both;overflow: hidden;margin-top: 100px;border-top: 1px solid #ddd;}
footer .footer_main{width: 1460px;margin: 40px auto 10px;}
footer .footer_main .footer_top{padding: 15px 0 20px 150px;overflow: hidden;}
footer .footer_main .footer_top div{float:left;width:286px;min-height: 74px;margin-right: 40px;padding-right: 0px;border-right: 1px solid #ddd;}
footer .footer_main .footer_top div:last-child{border-right: none;}

footer .footer_main .footer_top div em{display: block;padding-bottom: 5px;color: #979797;font-size: 14px;}
footer .footer_main .footer_top div ul li{display: inline-block;margin-right: 20px;padding-top: 6px;letter-spacing: normal;vertical-align: top;font-size: 12px;}
footer .footer_main .footer_top div ul li a{color: #595959;}
footer .footer_main .footer_top div ul li a:hover{color:#65D1AB;}
.footer_bottom{line-height: 30px;padding: 25px 0;text-align: center;color: #838383;font-size: 12px;}
.footer_bottom a{color: #838383;}
.footer_bottom a:hover{color: #65D1AB;}
/**/

/*侧边*/
.mod_fixedtool{position:fixed;right: 20px;bottom: 60px;width: 30px;z-index: 999;text-align: center;display: none;}
.mod_fixedtool .ft_cell{position: relative;display: block;width: 28px;height: 28px;margin-top: 10px;color: #999;border: 1px solid #ddd;border-radius: 2px;background-color: #fff;cursor: pointer;transform: translateZ(0);}
/**/